* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Code */

.container {
  width: 90%;
  margin: 0 auto;
}
:root {
  --orange: #ef9211;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.btn {
  padding: 9px 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
}
/* Navbar Css Start Here */

nav {
  height: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid black;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  margin-top: 10px;
}
.fa-bars {
  display: none;
}
ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
nav ul li:hover a {
  color: var(--orange);
}

/* Header Css start here */

header {
  background-image: url("./Image/01.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-wraper {
  height: 90vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0px;
}
header p {
  color: white;
  font-size: 22px;
  width: 90%;
  line-height: 35px;
}

.headerBtn {
  width: 25%;
  margin-top: 20px;
}

/* About Section */

#about {
  padding: 50px 0px;
}

.about-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 50%;
}

.about-wrapper h1 {
  font-size: 40px;
  font-family: Arial, sans-serif;
  margin: 20px 0px;
}
.about-wrapper p {
  font-family: arial;
  font-size: 19px;
  margin-top: 10px;
  color: #666666;
}
.about-wrapper .btn {
  margin-top: 20px;
}
.about-iamge {
  width: 30%;
}
.about-iamge img {
  width: 250px;
}

/* Services */

#services {
  padding: 50px 0px;
}

#services .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 40px;
  font-family: Arial, sans-serif;
}
.title h1 .yellow-color {
  color: var(--orange);
}
.title p {
  width: 40%;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}

/* Service Wrapper */
.service_wrapper .row:nth-child(1) {
  margin-top: 50px;
}
.service_wrapper .row {
  display: flex;
  gap: 10px;
}
.service_wrapper .row .col {
  margin: 10px 0px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

.service_wrapper .row .col i {
  font-size: 40px;
  color: #e2e2e2;
  margin: 10px 0px;
}
.service_wrapper .row .col h1 {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.service_wrapper .row .col h1 span {
  color: gray;
}
.service_wrapper .row .col p {
  font-size: 18px;
}
.service_wrapper .row .col:hover {
  margin-top: -10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.069);
}
.service_wrapper .row .col:hover i {
  color: var(--orange);
}
.service_wrapper .row .col:hover h1 span {
  color: var(--orange);
}

/* Company */
#Company {
  padding: 50px 0px;
}
.company-wrapper {
  display: flex;
  justify-content: space-between;
}
.company-title {
  width: 80%;
}
.company-title h1 {
  font-size: 35px;
  margin: 10px;
}
.company-title h1 span {
  color: var(--orange);
}
.company-title p {
  font-size: 18px;
  color: #2e2d2d;
  font-family: arial, sens-serif;
}

/* Company Status -- Card Row */

.card-row {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.card-row .col {
  width: 200px;
  border: 1px solid #eeee;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.card-row .col:hover {
  background: var(--orange);
}
.card-row .col h6 {
  font-size: 25px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #272727;
}
.card-row .col i {
  margin: 10px 0px;
  font-size: 20px;
  color: gray;
}
.card-row .col p {
  font-family: Arial, sans-serif;
  color: #272727;
  font-size: 13px;
  text-transform: uppercase;
}

/* Blog */

#blog {
  padding: 50px 0px;
}

#blog .row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
#blog .row .col {
  padding: 10px;
}

#blog img {
  width: 370px;
  margin: 0 auto;
}
#blog .date {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 5px 0;
  color: gray;
}
#blog p {
  font-size: 18px;
  margin-bottom: 20px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

/* Subscribe */

#subscribe {
  background-image: url("./Image/subscribe/subscribebg.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subTitle {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#subscribe p {
  color: white;
  font-size: 16px;
  margin: 0 auto;
  line-height: 26px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

#subscribe h1 {
  margin: 10px 0px;
}
.subscribeBtn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 50px;
  margin-top: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
input {
  background: transparent;
  border: none;
  color: white;
  padding: 5px 10px;
  outline: none;
}
::placeholder {
  color: white;
}
#subscribe .btn {
  font-size: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


/* Footer */
footer{
    padding: 20px 0px;
    background: rgb(22, 2, 53);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Query */

@media only screen and (max-width: 768px) {
  .wrap {
    display: block;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    margin-top: 10px;
  }
  .logo .fa-bars {
    font-size: 25px;
    display: block;
    cursor: pointer;
  }
  ul {
    margin-top: 40px;
    display: block;
  }
  .block {
    display: none;
  }
  ul li {
    padding: 10px 0px;
    cursor: pointer;
  }
  ul li:hover a {
    color: #fbd52c;
  }
  ul li:hover {
    background-color: black;
    padding: 10px 5px;
  }

  /* Header */

  header .header-wraper {
    width: 100%;
  }

  /* About */
  .about-wrapper {
    display: block;
  }
  .about-wrapper .text {
    width: 100%;
  }
  .about-wrapper .text h1 {
    font-size: 30px;
  }
  .about-iamge img {
    display: none;
  }

  /* Service */

  .title p {
    width: 90%;
  }

  .service_wrapper .row {
    display: inline;
  }
  .service_wrapper .row .col:hover {
    margin-top: 0;
  }

  /* Company */

  .company-wrapper {
    display: block;
  }
  .company-wrapper img {
    display: none;
  }
  .company-title {
    width: 100%;
    text-align: center;
  }

  /* Blog */

  #blog .row {
    display: block;
  }
  #blog img {
    width: 100%;
  }

  /* Subscribe */
}
